<!doctype html>
<html xmlns:th="https://www.thymeleaf.org" lang="en" class="h-100">
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>STATS by Shadow</title>
          <!-- Bootstrap core CSS -->
        <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

        <!-- Custom styles for this template -->
        <link th:href="@{css/cover.css}" href="../../static/css/cover.css" rel="stylesheet" type="text/css" media="screen"/>

  </head>
  <body class="d-flex h-100 text-center text-white bg-dark bg-image" onload="imageRank()">
      <input id="error1" type="hidden" th:value="${gamesNotFoud}">
      <input id="error2" type="hidden" th:value="${badNick}">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="header-container-stats">
            <div>
            <h3 id="title-main" onclick="redirect()" class="float-md-start mb-0">STATS by Shadow</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Contact</a>
            </nav>
            </div>
        </header>

        <main >
            <div id="container-table" class="container-sm" style="align-content: center;width: fit-content;">
                <table id="table" class="table-bordered table-sm">
                    <tbody th:text-center="${player.nickname}">
                    <tr>
                        <td th:text="${player.nickname}"></td>
                        <td th:text="${player.roundsPlayed} + ' Games'"></td>
                        <td th:text="${player.kills} + ' Kills'"></td>
                        <td th:text="${kda} + ' KDA'"></td>
                    </tr>
                    <tr>
                        <td><span id="tier" th:text="${player.tier +' '+ player.subTier} "></span><span th:text="' '+${player.currentRankPoint} + 'RP'" ></span></td>
                        <td th:text="${player.wins} + ' Wins'"></td>
                        <td th:text="${player.assists} + ' Assists'"></td>
                        <td th:text="${kd} + ' KD'"></td>
                    </tr>
                    <tr>
                        <td colspan="5"><img class="img-fluid" alt="Responsive image" style="" id="imageTierPng" src=""></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <form>
                    <input name="nickname" type="hidden" th:value="${player.nickname}">
                    <select th:name="season">
                        <option value="07">Season 7</option>
                        <option value="08">Season 8</option>
                        <option value="09">Season 9</option>
                        <option value="10">Season 10</option>
                        <option value="11">Season 11</option>
                        <option value="12">Season 12</option>
                        <option value="13">Season 13</option>
                        <option value="14" selected>Season 14</option>
                    </select>
                    <input type="submit" value="Reload">
                </form>
            </div>
        </main>

      <footer class="mt-auto text-white-50">
        <p>STATS by Shadow<a href="https://getbootstrap.com/" class="text-white"></a>, by <a href="https://twitter.com/shadowfgx_" class="text-white">@shadowfgx_</a>.</p>
      </footer>
    </div>
    
    <!--Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
  </body>
</html>
